nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding: 50px 0px;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

main {
    max-width: 1140px;
    margin: 116px 159px 116px 141px;
}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
}


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;

    background-color: aliceblue;
}

.nav-text {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
}

.banner-text {
    font-size: 60px;
    color: #252432;
    font-weight: bold;

}

.banner {
    background: url(../image/Hero-bg.png);
    padding-bottom: 152px;
    margin: 0px 0px;

}

.banner-container {
    margin-top: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h4 {
    margin: 0;
    text-align: center;
}

#banner-btn {
    margin-top: 37px;
}

.button {
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    padding: 36px 12;
    font-size: 16;
    border: none;
    font-weight: bold;
}

.headline-font {
    font-size: 42;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.action-font {
    color: #252432;
    font-weight: 10;
    font-size: 24;
}

.action-body {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.action{
    gap: 23px;
}

.img img {
    border-radius: 48px;
    max-height: 328px;
    width: 403px;
}

.button2 {
    width: 229px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    padding: 36px 12;
    font-size: 16;
    border: none;
    font-weight: bold;
}

.overview h2 {
    text-align: center;
    margin-top: 20px;
}

.overview-headline {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    color: #4E47FF;
   
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 158px;
}

.overview-body {
    margin-top: 116px ;
    max-height: 306px;
    display: flex;
    align-items: center;



  
}
.overview{
    border-radius: 24px;
    border: none;
    align-items: center;
    background-color: rgba(226, 197, 213, 0.231);
    gap: 30px;
    padding: 50px 80px 50px 80px;
}

.overview-headline h1,p{
  margin: 0;
}
.overview-text {
    font-size: 20px;
    color: #000000;
    font-weight: regular;
}
.star-image img{
    background: url(../image/icon-star.png);
    background-repeat: repeat-x;
}
.card{
    display: flex;
    flex-direction: column;
    height: 243px;
    background: #dfdee7;
    width: 343px;
    border-radius: 24px;
    padding: 24px 24px;
}
.card-container{
    
  max-height: 266px;
  display: flex;
gap: 20px;
}
.image img{
    height: 25px;
    width: 25px;
    gap: 20px;
  

}
.card{
    gap: 20px;
}
.portfolio-container{
    display: flex;
    flex-direction: column;
}
.profile{
    display: flex;
    gap: 20px;
}
.profile img{
    border-radius: 50%;
}
.card-box{
    margin-top: 116px;

}

.focus-container{
    background-color: rgba(192, 223, 223, 0.491);
    padding: 71px 150px;
    margin-top: 116px;
    align-items: center;
    display: flex;
    gap: 20px;
    border-radius: 18px;
    flex-direction: column;
}
.focus-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.image-focus img{
    border-radius: 48px;
        max-height: 398px;
        width: 550px;
}
.main-last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 116px;
}
.main-last h1{
    font-size: 97px;
    font-weight: bold;
}
.form-gap{
    display: flex;
    align-items:center;
    gap: 5px;
    background-color: bisque;
height: 40px;
padding: 10px 10px;
width: 300px;
border-radius: 10px;
}
.form-gap1{
    height: 90px;
        width: 300px;
        border-radius: 10px;
        padding: 10px 10px;
        background-color: bisque;
}
.footer ul li{
list-style: none;

}
.footer a{
    text-decoration: none;
    color: #2524328f;
        font-weight: 10;
        font-size: 24;
}
.footer ul{
    display: flex;

   gap: 20px;
    justify-content:space-between;
    align-items: center;
}
.foott{
    background-color: aliceblue;
}
.foot{
    margin-top: 116px;
    margin-left: 336px ;
    margin-right:336px;

   padding-bottom: 30px;
   align-items: center;
}
.foot-body h1{
    padding-top: 30px;
text-align: center;
font-weight: bold;
font-size: 70px;
color: #4E47FF;
}
.foot-body p{
text-align: center;
}
.foot-body h1,p{
    margin: 0;
}

.button3 {
    width: 300px;
    height: 48px;
    background-color:rgba(165, 42, 42, 0.893);
    color: white;
    border-radius: 10px;
    padding: 36px 12;
    font-size: 16;
    border: none;
    font-weight: bold;
    

}
 .button3:hover{
    cursor: pointer;
    background-color: #54344580;
}

.button2:hover {
    cursor: pointer;
    background-color: #cd8f8f;
}
.button:hover {
    cursor: pointer;
    background-color: #cd8f8f;
}