nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding: 50px 0px;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}


nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
}


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.nav-text {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
}

.banner-text {
    font-size: 60px;
    color: #252432;
    font-weight: bold;

}
.banner{
    background: url(../image/Hero-bg.png);
    padding-bottom: 152px;
    margin: 0px 0px;

}

.banner-container {
margin-top: 152px;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h4{
    margin: 0;
    text-align: center;
}

#banner-btn{
    margin-top: 37px;
}

.button {
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    padding: 36px 12;
    font-size: 16;
    border: none;
    font-weight: bold;
}